.pelucias-do-momento {
  background-color: var(--cor-de-fundo);
}

.pelucias-do-momento__container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  padding-bottom: 8rem;
}

.pelucias-do-momento__titulo-texto {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: var(--rosa-clarinho);
    text-align: center;
    padding: 35px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.pelucias-do-momento__imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.pelucia-card {
  background-color: var(--rosa-clarinho);
  border-radius: 25px;
  width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.pelucia-card__imagem {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 20px;
}

.pelucia-card__info {
  margin-top: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pelucia-card__preco {
  font-weight: bold;
  font-size: 20px;
  color: var(--branco);
}

.pelucia-card__carrinho {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}





