.encontre-sua-pelucia {
  width: 100%;
  overflow: hidden;
}

.encontre-sua-pelucia-container {
  padding: 55px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rosa-clarinho);
}

.carrossel {
  position: relative;
  width: 700px;
  height: 400px;
}

.carrossel-imagem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0.6;
  filter: blur(3px);
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.carrossel-imagem img {
  width: 600px;
  border-radius: 25px;
}

/* Imagem central em destaque */
.carrossel-imagem.destaque {
  transform: translate(-50%, -50%) scale(1);
  filter: none;
  opacity: 1;
  z-index: 3;
}

/* Deslocamento lateral esquerdo */
.carrossel-imagem.esquerda {
  transform: translate(-90%, -50%) scale(0.8);
  z-index: 2;
}

/* Deslocamento lateral direito */
.carrossel-imagem.direita {
  transform: translate(-10%, -50%) scale(0.8);
  z-index: 2;
}


@media (max-width: 480px) {
  .carrossel {
    aspect-ratio: 1 / 1;
  }

  .carrossel-imagem img {
    max-width: 300px;
    border-radius: 16px;
  }

  .carrossel-imagem.esquerda {
    transform: translate(-80%, -50%) scale(0.65);
  }

  .carrossel-imagem.direita {
    transform: translate(-20%, -50%) scale(0.65);
  }

  .encontre-sua-pelucia-container {
    padding: 0px 0px
  }
}