.encontre-sua-pelucia {
    width: 100%;
}

.encontre-sua-pelucia-container {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    justify-content: center;
    background-color: var(--rosa-clarinho);
}

.encontre-sua-pelucia__imagem {
    width: 40%;
    border-radius: 25px;
}
.encontre-sua-pelucia-link__imagem {
    text-align: center;
    width: 100%;
}
