.entrega-e-parcela__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 11%;
    background-color: var(--rosa-escuro);
}

.entrega-e-parcela__imagem {
    width: 30px;
}

.entrega-e-parcela__informacao {
    display: flex;
    align-items: center;
    gap: 5px;
}

.entrega-e-parcela__texto {
    font-size: 25px;
    font-weight: 600;
    color: var(--branco);
    font-family: 'Baloo 2', cursive;
}

@media (max-width: 480px) {

    .entrega-e-parcela__texto {
        font-size: 14px;
    }
    
    .entrega-e-parcela__container {
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
        gap: 20px;
    }
}